<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="import.css">
    <title data-i18n="importCodesText"></title>
  </head>
  <body>
    <div class="container">
      <h1 data-i18n="importCodesText"></h1>

      <div class="tab-buttons">
        <button data-i18n="scanText" class="tab-btn active" data-tab="camera"></button>
        <button data-i18n="uploadFileText" class="tab-btn" data-tab="image"></button>
      </div>

      <!-- Camera Tab -->
      <div id="camera" class="tab-content active">
        <div class="controls">
          <button data-i18n="startCameraBtnText" id="startBtn"></button>
          <button data-i18n="stopCameraBtnText" id="stopBtn" disabled></button>
        </div>
        <video id="video" autoplay></video>
        <canvas id="canvas"></canvas>
        <div class="status" id="cameraStatus"></div>
      </div>

      <!-- Datei Tab -->
      <div id="image" class="tab-content">
        <div class="controls">
          <button data-i18n="chooseFileText" id="uploadBtn"></button>
        </div>
        <input type="file" id="fileInput" accept=".json,.2fas,image/*">
        <p data-i18n="fileUploadExplanationText"></p>
        <div id="imagePreview"></div>
      </div>


      <div class="result" id="result"></div>

    </div>

    <script src="../librarys/browser-polyfill.js"></script>
    <script src="../librarys/jsQR.js"></script>
    <script src="../Models/qr-scanner.js"></script>
    <script src="../Models/account.js"></script>
    <script src="../Models/converter.js"></script>
    <script src="../Models/encryption.js"></script>
    <script src="../Models/settingsModel.js"></script>
    <script src="import.js"></script>
  </body>
</html>
