<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="settings.css">
    <title data-i18n="settingsText"></title>
  </head>
  <body>
    <div class="container">
      <h1 data-i18n="settingsText"></h1>

      <h2 style="color: red;">THIS PAGE IS JUST FOR TESTING! CHANGES MADE HERE HAVE NO EFFECT!</h2>

      <h2 data-i18n="apperanceText"></h2>

      <div class="setting">
        <label data-i18n="themeText"></label>
        <select id="themeSelect">
          <option value="dark" data-i18n="themeDarkText"></option>
          <option value="light" data-i18n="themeLightText"></option>
          <option value="default" data-i18n="themeDefaultText"></option>
        </select>
      </div>

      <div class="setting">
        <label data-i18n="syncWithMozillaText"></label>
        <select id="syncMozillaSelect">
          <option data-i18n="yes" value="true"></option>
          <option data-i18n="no" value="false"></option>
        </select>
      </div>

      <div class="setting">
        <label data-i18n="fontSizeText"></label>
        <select id="fontSizeSelect">
          <option data-i18n="fontSizeSmall" value="small"></option>
          <option data-i18n="fontSizeMedium" value="medium"></option>
          <option data-i18n="fontSizeLarge" value="large"></option>
        </select>
      </div>

      <div class="setting">
        <label data-i18n="showNextCodeText"></label>
        <select id="showNextCodeSelect">
          <option data-i18n="yes" value="true">Yes</option>
          <option data-i18n="no" value="false">No</option>
        </select>
      </div>

      <h2 data-i18n="passwordText"></h2>

      <div class="setting">
        <label data-i18n="useMasterPasswordText"></label>
        <select id="useMasterPasswordSelect">
          <option data-i18n="yes" value="true">Yes</option>
          <option data-i18n="no" value="false">No</option>
        </select>
      </div>

      <div class="setting">
        <label data-i18n="useBiometricsText"></label>
        <select id="useBiometricsSelect">
          <option data-i18n="yes" value="true">Yes</option>
          <option data-i18n="no" value="false">No</option>
        </select>
      </div>

      <div class="button-group">
        <button id="changePwBtn" data-i18n="changePasswordText" class="secondary"></button>
        <button id="saveBtn" data-i18n="saveBtnText" class="primary"></button>
      </div>
    </div>

    <script src="../Models/account.js"></script>
    <script src="../Models/encryption.js"></script>
    <script src="../Models/settingsModel.js"></script>
    <script src="settings.js"></script>
  </body>
</html>
